{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel indigo lighten-5">
                <h4 class="center-align indigo-text text-darken-4">
                    404 Error!
                    <br>
                    This page does not exist.
                </h4>
                <br>
                <a class="btn btn-primary btn-lg" href="events.html" role="button">Home</a>
            </div>
        </div>
    </div>

{% endblock %}