{% extends "base.html" %}
{% block content %}

<div class="row">
    {% for event in events %}
        <div class="col s12 m6 l4">
            <div class="card card-height">
                <div class="card-image transparent circle responsive-img waves-effect waves-block">
                <img class="activator" src="{{ event.image }}" alt="{{ event.event_name}}">
                </div>
                <div class="card-content indigo-text text-darken-4">
                    <span class="card-title activator button-floating halfway-fab indigo-text text-darken-4">
                        <i class="fas fa-ellipsis-v right"></i>
                    </span>
                    <h5 class="event-card "><strong>{{ event.event_name }}</strong></h5>
                    <p class="event-card"><strong>Date:</strong> {{ event.date }}</p>
                    <p class="event-card"><strong>Location:</strong> {{ event.location }}</p>
                    <div class="right">
                        <p>Interested? <button class="like">
                            <i class="far fa-thumbs-up"></i></button>
                            <span class="likeNum">0</span>
                        </p>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title indigo-text text-darken-4"><i class="material-icons right indigo-text text-darken-4 far fa-window-close"></i><h5><strong>{{ event.event_name }}</strong></h5></span>
                    <p class="indigo-text text-darken-4">{{ event.event_details }}</p><br>
                    <p class="event-card indigo-text text-darken-4"><strong>Website: </strong><a href="{{ event.link }}">{{ event.event_name }}</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}