{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel indigo lighten-5">
            <h3 class="center-align indigo-text text-darken-4">Add New Event</h3>
            <form method="POST" action="{{ url_for('new_event') }}">
                <!-- Category Selector -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-folder-open prefix indigo-text text-darken-4"></i>
                        <select id="category_name" name="category_name" class="validate" required>
                            <option value="" disabled selected>Choose your event Category</option>
                            {% for category in categories %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="category_name">Event Category</label>
                    </div>
                </div>
                <!-- Add Event Name -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-thumbtack prefix indigo-text text-darken-4"></i>
                        <input id="event_name" name="event_name" minlength="5" maxlength="50" 
                            type="text" class="validate" required>
                        <label for="event_name">Event Name</label>
                    </div>
                </div>
                <!-- Add Event Location -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-map-marked-alt prefix indigo-text text-darken-4"></i>
                        <input id="location" name="location" minlength="5" maxlength="50" 
                            type="text" class="validate" required>
                        <label for="location">Event Location</label>
                    </div>
                </div>
                <!-- Add Event Date -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-calendar-alt prefix indigo-text text-darken-4"></i>
                        <input id="date" name="date" type="date" min="2025-01-01" max="2025-12-31" class="validate" required>
                        <label for="date">Event Date</label>
                    </div>
                </div>
                <!-- Add Event Details -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-align-left prefix indigo-text text-darken-4"></i>
                        <textarea id="event_details" name="event_details" minlength="5"
                            maxlength="200" class="materialize-textarea validate" required></textarea>
                        <label for="event_details">Event Details</label>
                    </div>
                </div>
                <!-- Add Website Link -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-link prefix indigo-text text-darken-4"></i>
                        <input id="link" name="link" minlength="5" maxlength="200" 
                            type="text" class="validate" required>
                        <label for="link">Website Link</label>
                    </div>
                </div>
                <!-- Add Image URL -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-image prefix indigo-text text-darken-4"></i>
                        <input id="image" name="image" minlength="5" maxlength="200"
                            type="text" class="validate" required>
                        <label for="image">Image URL</label>
                        <p class="indigo-text text-darken-4">Having trouble? Try searching for an image on the web, right click on it, 
                            select 'open image in a new tab' and copy/paste the URL(the web address 
                            at the top of the page) above!</p>
                    </div>
                </div>
                <!-- Submit Button -->
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" class="btn-large indigo darken-4 text-shadow">
                            Add Event <i class="fas fa-plus-square right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}