{% extends "base.html" %}
{% block content %}
    <!--User Profile-->
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel indigo lighten-5">
                <h4 class="center-align indigo-text text-darken-4">
                    {{ username }}'s Profile
                </h4>
            </div>
        </div>
    </div>
    <!--Users Events-->
    <div class="row">
        {% if events|length > 0 %}
            {% for event in events %}
                {% if session.user|lower == event.created_by|lower %}
                <div class="col s12 m6 l4">
                    <div class="card card-height">
                        <div class="card-image transparent responsive-img circle waves-effect waves-block">
                            <img class="activator" src="{{ event.image }}" alt="{{ event.event_name}}">
                        </div>
                        <div class="card-content indigo-text text-darken-4">
                            <span class="card-title activator button-floating halfway-fab indigo-text text-darken-4">
                                <i class="fas fa-ellipsis-v right"></i></span>
                            <p class="event-card "><strong>{{ event.event_name }}</strong></p>
                            <p class="event-card"><strong>Date:</strong>  {{ event.date }}</p>
                            <p class="event-card"><strong>Location:</strong> {{ event.location }}</p>
                            <div class="right">
                                {% if session.user|lower %}
                                    <p>Interested? <button id=one-use class="like btn-small btn-floating waves-effect waves-light indigo darken-4">
                                        <i class="far fa-thumbs-up"></i></button>
                                        <span class="interested">0</span>
                                    </p>
                                {% endif %}
                            </div>
                            <br>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title indigo-text text-darken-4"><i class="material-icons right indigo-text text-darken-4 far fa-window-close"></i><strong>{{ event.event_name }}</strong></span>
                            <p class="indigo-text text-darken-4">{{ event.event_details }}</p><br>
                            <p class="event-card indigo-text text-darken-4"><strong>Website: </strong><a href="{{ event.link }}">{{ event.event_name }}</a></p>
                            <p class="event-card indigo-text text-darken-4"><strong><em>Event created by: {{ event.created_by }}</em></strong></p>
                            {% if session.user|lower == event.created_by|lower %}
                            <a href="#deleteevent" data-event-id="{{ event._id }}" class="btn modal-trigger delete-btn red darken-4">Delete</button>
                            <a href="{{ url_for('edit_event', event_id=event._id) }}" class="btn-small btn-edit indigo darken-4">Edit</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <h3 class="white-text text-darken-4 indigo darken-4 center-align">It looks like you haven't added an event yet!</h3>
        {% endif %}   
    </div>
    <!--Delete Modal-->
    <div id="deleteevent" class="modal">
        <div class="modal-content">
            <h4 class="indigo-text text-darken-4">Are you sure you want to delete this event?</h4>
        </div>
        <div class="modal-footer">
            <a href="{{ url_for('profile', username=session['user']) }}" id="confirm-delete"
                class="modal-close btn-small red darken-4">Delete</a>
            <a href="{{ url_for('get_events') }}" 
                class="modal-close btn-small indigo darken-4">Cancel</a>
        </div>
    </div>

{% endblock %}